{{log 'ledgers' this}}
<form>
  <ul>
    <p>{"Description | Currency P/L | WL Currency P/L | Character | User"}</p>
    {{#each ledgers}}
      <li>{{ledgerLog} {currency} {altCurrency} {character} {userName}}</li>
    {{/each}}
  </ul>
</form>
